#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  background-color: white;
}
